.banner-container {
    padding: 0.1em;
    height: 100px;
    background-color: black;
    display: flex;
}

.navbar {
    
}

.header {
    container: black;
}

.logo {
    height: 6em;
    will-change: filter;
    transition: filter 300ms;
    max-height: 100px;
  }