.footer {
    background-color: var(--mantine-color-darkGreen-0);
    color: var(--mantine-color-white);
    padding: 50px;
}

a {
    text-decoration: underline;
    color: var(--mantine-color-white);
}

a:hover {
    color: var(--mantine-color-lightGreen-0);
}