.header {
    background-color: var(--mantine-color-white);
    border-bottom: 1px solid light-dark(var(--mantine-color-grey-3), var(--mantine-color-dark-4));
  }
  
  .inner {
    height: 175px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--mantine-spacing-lg);
    padding-right: var(--mantine-spacing-lg);
  }
  
  .link {
    display: block;
    line-height: 1;
    padding: var(--mantine-spacing-md) var(--mantine-spacing-md);
    border-radius: var(--mantine-radius-sm);
    text-decoration: none;
    color: #2F5341;
    font-size: var(--mantine-font-size-xl);
    font-weight: 300;

    @media (max-width: $mantine-breakpoint-md) {
      color: #2F5341;
      font-size: 35px;
    }
  }

  .link:hover {
      background-color: #D9D9CB;
      color: #2F5341;

      @media (max-width: $mantine-breakpoint-md) {
        background-color:rgb(182, 182, 169);
      }
  }

  .socials, .socials:hover {
    display: block;
    padding: 8px 12px;
    color: #2F5341;
    font-size: var(--mantine-font-size-xl);
  }

  .logo {
  }

  .burgermenu {
    width: 100%;
    background-color: var(--mantine-color-grey-8)
  }

  html {
    scroll-behavior: smooth;
  }