.header {
    background-color: var(--mantine-color-body);
    border-bottom: 1px solid light-dark(var(--mantine-color-grey-3), var(--mantine-color-dark-4));
  }
  
  .inner {
    height: 175px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--mantine-spacing-lg);
    padding-right: var(--mantine-spacing-lg);
  }
  
  .link {
    display: block;
    line-height: 1;
    padding: var(--mantine-spacing-md) var(--mantine-spacing-md);
    border-radius: var(--mantine-radius-sm);
    text-decoration: none;
    color: light-dark(var(--mantine-color-grey-7), var(--mantine-color-dark-0));
    font-size: var(--mantine-font-size-xl);

    @media (max-width: $mantine-breakpoint-sm) {
      color: var(--mantine-color-white);
      font-size: 35px;
    }
  }

  .link:hover {
      background-color: light-dark(var(--mantine-color-customGreem-5), var(--mantine-color-dark-6));
      color: var(--mantine-color-dark-customGreem-8);

      @media (max-width: $mantine-breakpoint-sm) {
        background-color: light-dark(var(--mantine-color-grey-6), var(--mantine-color-grey-6));
      }
  }

  .socials, .socials:hover {
    display: block;
    padding: 8px 12px;
    color: light-dark(var(--mantine-color-grey-10), var(--mantine-color-dark-0));
    font-size: var(--mantine-font-size-xl);
  }

  .logo {
    padding: var(--mantine-spacing-md) var(--mantine-spacing-md);
  }

  .burgermenu {
    width: 100%;
    background-color: var(--mantine-color-grey-8)
  }

  html {
    scroll-behavior: smooth;
  }