.prestations {
    position: relative;
    background-color: var(--mantine-color-customGreem-7)
}

.control:hover {
    background-color: var(--mantine-color-customGreem-4);
}

.control:focus {
    outline: none;
}

.item {
    border-bottom: 1px solid black;
}

.title {
    @media (max-width: $mantine-breakpoint-md) {
        font-size: 40px;
    }
}

.image1Container {
    position: relative;
    float: right;
    width: 200px;
    height: 400px;
    overflow: hidden;

    @media (max-width: $mantine-breakpoint-md) {
        display: none;
    }
}

.image2Container {
    position: relative;
    float: right;
    margin-right: -60px;
    margin-top: -20px;
    width: 200px;
    height: 400px;
    overflow: hidden;

    @media (max-width: $mantine-breakpoint-md) {
        display: none;
    }
}

.image1Container img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image2Container img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}