.title {
    color: var(--mantine-color-white);
    padding: 100px 50px;
    width: 50%;

    @media (max-width: $mantine-breakpoint-md) {
        width: 100%;
        padding: 50px 20px;
        font-size: var(--mantine-h3-font-size)
    }
}

.backgroundGrass {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 90%;
}

.darken {
    background-color: rgba(0,0,0,0.4);
}

.backgroundBrick {
    background-size: 210%
}