.fade-up {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
    transition: all 1.5s;
}

.fade-left {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 1.5s;
}

.fade-right {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1.5s;
}


.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0) translateY(0);
}